header{
    margin:20px 10px;
    /* display:inline-block; */

}
menu {
    display: inline;
    list-style-type:square;
}
h1{
    text-align:center ;
    margin-top:  0;
    background: pink;
}
image{
    width:200px;
    height:100px;
}
input[type="search"]{
    margin: 10px;
    align-content: center;
    text-align: center;
    align-self:center;
    width:100%;
}
main{
    display:inline-block;
}
footer{
    margin:20%;
    padding:10px;
    display:inline-flexbox;
}